<%- layout('layout.ejs') %>
<div>
    <%  const { recommended_footware, recommended_bottomware, recommended_topware } = all_recommendations; %>
    <%- layout('layout.ejs') %>

<div>
    <div class="recommendation-card">
        <h3>Recommended Topwear</h3>
        <div class="card-container">
            <% recommended_topware.forEach(item => { %>
                <div class="card">
                    <img src="<%= item.topware.image.substr(21) %>" alt="Topware" class="card-img">
                    <div class="card-body">
                        <h4 class="card-title"><%= item.topware.name %></h4>
                        <p class="card-text">Score: <%= Math.round(item.average_score*100)%>%</p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="recommendation-card">
        <h3>Recommended Bottomwear</h3>
        <div class="card-container">
            <% recommended_bottomware.forEach(item => { %>
                <div class="card">
                    <img src="<%= item.bottomware.image.substr(21) %>" alt="Bottomware" class="card-img">
                    <div class="card-body">
                        <h4 class="card-title"><%= item.bottomware.name %></h4>
                        <p class="card-text">Score: <%= Math.round(item.average_score *100)%>%</p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="recommendation-card">
        <h3>Recommended Footwear</h3>
        <div class="card-container">
            <% recommended_footware.forEach(item => { %>
                <div class="card">
                    <img src="<%= item.footware.image.substr(21) %>" alt="Footware" class="card-img">
                    <div class="card-body">
                        <h4 class="card-title"><%= item.footware.name %></h4>
                        <p class="card-text">Score: <%= Math.round(item.average_score*100) %>%</p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

</div>